body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.head-1 {
    text-align: center;
    font-size: 45px;
}

#title {
    background-color: rgb(7, 45, 56, .75);
    color: white;
    padding: 75px;
}

.para {
    font-size: 22px;
}

.note {
    color: rgb(0, 0, 0, 0.5);
    font-size: 14px;
    margin: 45px;
    display: block;
}

.head-2 {
    font-size: 30px;
}

.content {
    background-color: rgb(100, 100, 100, 0.75);
    padding: 75px 50px;
    font-size: 20px;
    color: white;
}

.list li, .list a {
    color: black;
}

.link {
    text-align: center;
    font-size: 24px;
    font-weight: 1000;
}

.running li {
    display: inline-block;
    width: 32.9%;
}
.running a {
    width: 100%;
    font-size: 28px;
    text-align: center;
    padding: 4px;
}
.running.list {
    padding: 0;
}
